﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/leaflet.css"/>
    <link rel="stylesheet" href="~/Content/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="~/Content/MarkerCluster.css" />
    <link rel="stylesheet" href="~/Content/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="~/Content/Control.Geocoder.css" />
    <script src="~/Content/leaflet.js"></script>
    <script src="~/js/require.js"></script>
    <script src="~/Content/leaflet.markercluster.js"></script>
    <script src="~/Content/leaflet-routing-machine.js"></script>
    <script src="~/Content/Control.Geocoder.js"></script>
    <script src="~/Content/nominatim.js"></script>
    <script src="~/Content/js/jquery.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Geo", "PointsBuilder", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Point", "PointsBuilder", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Route", "RouteBuilder", "Home", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
