﻿
@{
    ViewBag.Title = "PointsBuilder";
}

<h2>PointsBuilder</h2>

@using (Html.BeginForm("GetPoints", "Points", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}

<div class="input-group">
    <input id="search-line" type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
        <button id="search-button" onclick="" class="btn btn-secondary" type="button">Go!</button>
    </span>
</div>
<div class="col-md-12" style="padding-top:15px;">
    <div class="col-md-5" id="search-result">
    </div>

    <div class="mapContent col-md-7" id="content" style="height: 350px; float: right;">
        @*<div class="loader loader-default"></div>*@
    </div>
</div>
<script type="text/javascript">

    var searchBtn = document.getElementById('search-button');

    window.onload = function () {
        sessionStorage.clear();
        sessionStorage.setItem("mapIsCreate", "false");
    }

    var spinner = $('.mapContent').children('.loader');

    searchBtn.onclick = function () {

        //spinner.addClass('is-active')

        var searchLine = document.getElementById('search-line');

        //if (sessionStorage.getItem("mapIsCreate") == "false") {

        //    this.map = new L.map('content').setView([0, 0], 2);
        //    sessionStorage.setItem("mapIsCreate", "true");
        //}
        //else {
        //    map.remove();
        //    this.map = new L.map('content').setView([0, 0], 2);
        //}

        //var markers = L.markerClusterGroup();

        var xhr = new XMLHttpRequest(),
            method = 'POST',
            url = '/Points/GetPoint/';

        xhr.open(method, url, true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.send('searchRequest=' + searchLine.value);

        xhr.onload = function () {

            var searchResult = document.getElementById('search-result');
            var parcedResponse = JSON.parse(xhr.response);

            var table = '<div class="results_sidebar" id="sidebar">';

            parcedResponse.forEach(function (item, index) {

                var json = item;

                //for (var value in json) {
                //    if (json[value] == null) {
                //        json[value] = '';
                //    }
                //}

                var coordinates = '[' + json.lat + ',' + json.lon + ']'

                if (index == 0) {
                    table += '<div id="result" class="result active" position="' + index + '" onclick="printPoint(' + index + ',' + coordinates + ')">'
                }
                else {
                    table += '<div id="result" class="result" position="' + index + '" onclick="printPoint(' + index + ',' + coordinates + ')">'
                }
                table += '<span class="name">' + json.display_name + '</span>'
                table += '<span class="type">(' + json.type + ')</span>'
                table += '</div>'
            })

            table += '</div>';
            searchResult.innerHTML = table;

            //console.log(parcedResponse);
            //for (var i = 0; i < parcedResponse.length; i++) {
            //    var coord = parcedResponse[i].split(',');
            //    var marker = L.marker([coord[0], coord[1]]);
            //    marker.bindPopup("Lat: " + coord[0] + " " + "Long: " + coord[1]);
            //    markers.addLayer(marker);
            //}

            //map.addLayer(markers);
            //spinner.removeClass('is-active');
        }

        //L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ29vb2dpbGkiLCJhIjoiY2o5dHB2eGRtNGZ2cTJxcGdkZWNzbDh0MiJ9.EkOgfmQR4JzFno4YpWMK6A', {
        //    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        //    minZoom: 2,
        //    maxZoom: 18,
        //    id: 'mapbox.streets',
        //    accessToken: 'pk.eyJ1IjoiZ29vb2dpbGkiLCJhIjoiY2o5dHB2eGRtNGZ2cTJxcGdkZWNzbDh0MiJ9.EkOgfmQR4JzFno4YpWMK6A'
        //}).addTo(map);
    }

    function printPoint(index, coordinates) {

        var header = document.getElementById("sidebar");
        var btns = header.getElementsByClassName("result");
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        btns[index].className += " active";

        spinner.addClass('is-active');


        if (sessionStorage.getItem("mapIsCreate") == "false") {
            this.map = new L.map('content').setView([coordinates[0], coordinates[1]], 15);
            sessionStorage.setItem("mapIsCreate", "true");
        }
        else {
            map.remove();
            this.map = new L.map('content').setView([coordinates[0], coordinates[1]], 15);
        }

        //var markers = L.markerClusterGroup();

        //var coord = parcedResponse[index].coordinates.split(',');
        var marker = L.marker([coordinates[0], coordinates[1]]).addTo(map);
        marker.bindPopup("Lat: " + coordinates[0] + " " + "Long: " + coordinates[1]);
        //markers.addLayer(marker);

        //for (var i = 0; i < parcedResponse.length; i++) {
        //    var coord = parcedResponse[i].split(',');
        //    var marker = L.marker([coord[0], coord[1]]);
        //    marker.bindPopup("Lat: " + coord[0] + " " + "Long: " + coord[1]);
        //    markers.addLayer(marker);
        //}

        //map.addLayer(markers);
        spinner.removeClass('is-active');

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ29vb2dpbGkiLCJhIjoiY2o5dHB2eGRtNGZ2cTJxcGdkZWNzbDh0MiJ9.EkOgfmQR4JzFno4YpWMK6A', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            minZoom: 5,
            maxZoom: 21,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiZ29vb2dpbGkiLCJhIjoiY2o5dHB2eGRtNGZ2cTJxcGdkZWNzbDh0MiJ9.EkOgfmQR4JzFno4YpWMK6A'
        }).addTo(map);
    }

</script>