﻿
@{
    ViewBag.Title = "RouteBuilder";
}

<div class="mapContent col-md-12" id="content" style="height: 80vh;">
    @*<div class="loader loader-default"></div>*@
</div>

<script>
    var map = L.map('content');

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ29vb2dpbGkiLCJhIjoiY2o5dHB2eGRtNGZ2cTJxcGdkZWNzbDh0MiJ9.EkOgfmQR4JzFno4YpWMK6A', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        minZoom: 5,
        maxZoom: 21,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiZ29vb2dpbGkiLCJhIjoiY2o5dHB2eGRtNGZ2cTJxcGdkZWNzbDh0MiJ9.EkOgfmQR4JzFno4YpWMK6A'
    }).addTo(map);

    //L.Control.geocoder().addTo(map);

    L.Routing.control({
        waypoints: [
            L.latLng(57.74, 11.94),
            L.latLng(57.6792, 11.949)
        ],
        routeWhileDragging: true,
        geocoder: L.Control.Geocoder.nominatim()
    }).addTo(map);
</script>

