﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.loader {
    position: absolute;
    z-index: 9999999;
    top: -100%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000000;
    transition: opacity .7s ease;
    /*opacity: 0;*/
    display: none;
    background-color: rgba(0,0,0,.80);
}

    .loader:after,
    .loader:before {
        box-sizing: border-box;
    }

    .loader.is-active {
        top: 0;
        display: block;
        /*opacity: 1;*/
    }

.loader-default:after {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    content: '';
    animation: rotation 1s linear infinite;
    border: solid 8px #ffffff;
    border-left-color: transparent;
    border-radius: 50%;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes blink {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

#mapid {
    height: 180px;
}

.result {
    font-size: 0.8em;
    margin: 5px;
    margin-top: 0px;
    padding: 4px 8px;
    border-radius: 2px;
    background: #F0F7FF;
    border: 2px solid #D7E7FF;
    cursor: pointer;
    min-height: 5em;
}

    .result.active {
        background-color: #D9E7F7;
        border-color: #9DB9E4;
    }

.results_sidebar {
    /*width: 25%;*/
    padding: 15px;
    padding-top: 0;
    display: inline-block;
    float: left;
}